@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('junction-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
